* {
    margin: 0;
    padding: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html, body {
    height:100%;
}

a {
    text-decoration: none;
}
a:hover {
    color: #ff8500;
}

li {
    list-style: none;
}
H3{
    color:rgba(0, 0, 0, 0.8);
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.nav {
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav .title {
    line-height: 80px;
    font-size: 27px;
    font-family: 'Pacifico', serif;
    font-weight: 700;
    display: inline-block;
    min-width: 280px;
    margin-left: 40px;
    margin-right: 40px;

}
.nav .title a {
    color: #fc911fdc;
}

.nav .searchbox {
    height: 35px;
    min-width: 200px;
    margin: 23px 0;
    background-color: #fff;
    flex: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: darkgray;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

}

.nav .searchbox input {
    border: none;
    height: 35px;
    min-width: 145px;
    flex: 80%;
    padding-left: 15px;
    color: #726d66dc;
    font-size: 16px;
    display: inline-block;
    border-radius: 20px;
}

.searchbox button {
    width: 25px;
    height: 25px;
    border: 0;
    margin-right: 10px;
    background: url('/static/searchicon.png');
    background-size: cover;
    display: inline-block;
    opacity: 30%;
}

.nav .user {
    margin-left: 10%;
    line-height: 80px;
    font-size: 20px;
    font-family: 'Itim', serif;
    font-weight: 700;
    display: inline-block;
}
.nav .logout a {
    color:rgba(0, 0, 0, 0.85);
}
.nav .logout a:hover {
    color: #ff8500;
}
.nav .logout {
    color:rgba(0, 0, 0, 0.85);
    margin-left: 50px;
    margin-right: 30px;
    line-height: 80px;
    font-size: 20px;
    font-family: 'Itim', serif;
    font-weight: 700;
    display: inline-block;
}

.nav .login {
    color:rgba(0, 0, 0, 0.85);
    margin-left: 50px;
    margin-right: 30px;
    line-height: 80px;
    font-size: 20px;
    font-family: 'Itim', serif;
    font-weight: 700;
    display: inline-block;
}
.nav .login a {
    color:rgba(0, 0, 0, 0.85);
}
.nav .login a:hover {
    color: #ff8500;
}

.intro {
    display: flex;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    flex: 1;
}
.intro .name_and_NER {
    flex: 55%;
    text-align: center;
    margin: auto 100px auto 100px;
}
.intro .name_and_NER .recipe_name {
    color:rgba(0, 0, 0, 0.85);
    font-family: 'Itim', serif;
    font-size: 50px;
}
.intro .name_and_NER .num_ner {
    color:rgba(0, 0, 0, 0.6);
    font-family: 'Itim', serif;
    font-size: xx-large;
    text-align: center;
}
.intro .result_img {
    flex: 45%;
    margin-right: 8%;
    margin-top: 25px;
}
.intro .result_img img {
    height: 350px;
    width: 100%;
    border-radius: 15px;
}

.middle {
    margin: auto;
    width: 84%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.detail {
    display: flex;
}

.detail .instruction {
    flex: 65%;
    margin: 50px 60px 50px 8%;
    font-family: 'Cabin', serif;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.detail .instruction h2 {
    color:rgba(0, 0, 0, 0.9);
    font-family: 'Cabin', serif;
}

.detail .ingredient {
    flex: 35%;
    margin: 50px 8% 50px 0;
    padding: 25px;
    background-color: #fbfbfb;
    font-family: 'Cabin', serif;
    font-size: 18px;
    color:rgba(0, 0, 0, 0.8);
    border-color: darkgray;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.detail .ingredient h3 {
    color:rgba(0, 0, 0, 0.7);
    font-family: 'Cabin', serif;
}

.footer {
    padding-right: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFFFFF;
    font-size: 16px;
    text-align: right;
    line-height: 50px;
    clear: both;
    margin-bottom: 0;
}
.footer .copyright {
    float: right;
    margin-right: 30px;
}
.footer .backhome {
    float: left;
    margin-left: 30px;
}
.footer .backhome a {
    color: #FFFFFF;
}
.footer .backhome a:hover {
    color: #ff8500;
}








