* {
    margin: 0;
    padding: 0;
}
html, body {
    height:100%;
}

a {
    text-decoration: none;
}
a:hover {
    color: #ff8500;
}

li {
    list-style: none;
}
H3{
    color:rgba(0, 0, 0, 0.8);
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.nav {
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.nav .title {
    line-height: 80px;
    font-size: 27px;
    font-family: 'Pacifico', serif;
    font-weight: 700;
    display: inline-block;
    min-width: 280px;
    margin-left: 40px;
    margin-right: 40px;

}
.nav .title a {
    color: #fc911fdc;
}

.nav .searchbox {
    height: 35px;
    min-width: 200px;
    margin: 23px 0;
    background-color: #fff;
    flex: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: darkgray;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

}

.nav .searchbox input {
    border: none;
    height: 35px;
    min-width: 145px;
    flex: 80%;
    padding-left: 15px;
    color: #726d66dc;
    font-size: 17px;
    display: inline-block;
    border-radius: 20px;



}

.searchbox button {
    width: 25px;
    height: 25px;
    border: 0;
    margin-right: 10px;
    background: url('/static/searchicon.png');
    background-size: cover;
    display: inline-block;
    opacity: 30%;
}

.nav .user {
    margin-left: 10%;
    line-height: 80px;
    font-size: 20px;
    font-family: 'Itim', serif;
    font-weight: 700;
    display: inline-block;
}
.nav .logout a {
    color:rgba(0, 0, 0, 0.85);
}
.nav .logout a:hover {
    color: #ff8500;
}
.nav .logout {
    color:rgba(0, 0, 0, 0.85);
    margin-left: 50px;
    margin-right: 30px;
    line-height: 80px;
    font-size: 20px;
    font-family: 'Itim', serif;
    font-weight: 700;
    display: inline-block;
}

.nav .login {
    color:rgba(0, 0, 0, 0.85);
    margin-left: 50px;
    margin-right: 30px;
    line-height: 80px;
    font-size: 20px;
    font-family: 'Itim', serif;
    font-weight: 700;
    display: inline-block;
}
.nav .login a {
    color:rgba(0, 0, 0, 0.85);
}
.nav .login a:hover {
    color: #ff8500;
}

.filter {
    min-height: 1075px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 50px;
    margin-left: 20px;
    flex: 20%;
    font-family: 'Acme', serif;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.6);

}

.filter .cuisine .applyb, .filter .cuisine .resetb {
    font-family: 'Itim', serif;
    border-radius: 20px;
}

.filter .cuisine {
    min-height: 285px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
}

.filter .taste {
    min-height: 185px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}
.filter .course {
    min-height: 605px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}
.filter input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.filter button{
    margin-left:20px;
    width:50px;
    height:25px;
}
.rows{
    width: 100%;
    display: flex;
}
.notice_result {
    display: flex;
    flex: 80%;
    flex-direction: column;
}
.notice_result .notice {
    color:rgba(0, 0, 0, 0.5);
    font-family: 'Cabin', serif;
    margin-top: 20px;
    font-size: 20px;
}
.result {
    flex: 80%;
    display: flex;
    flex-direction: column;
}
.result .show_result {
    display: flex;
}
.result_left {
    margin-top: 30px;
    min-height: calc(100% - 120px);
    flex: 50%;
    font-size: 18px;
    padding-right: 30px;
    position: relative;
}
.result_right {
    margin-top: 30px;
    min-height: calc(100% - 120px);
    flex: 50%;
    padding-right: 20px;
    position: relative;
}

.result .buttons button{
    margin-top: 30px;
    font-size: 15px;
    font-family: 'Itim', serif;
    padding: 10px 10px 10px 10px;
    position: relative;
    border-radius: 20px;
    margin-right: 5px;
}
.result .buttons .current_page{
    margin-top: 30px;
    font-size: 15px;
    font-family: 'Itim', serif;
    padding: 10px 10px 10px 10px;
    position: relative;
    border-radius: 20px;
    background-color: #ffa800;
}
/*.result .buttons .prepage{*/
/*    margin-right: 40%;*/
/*}*/
.result_right ul li a {
    color:rgba(0, 0, 0, 0.85);
    font-family: 'Itim', serif;
    line-height: 40px;
    font-size: 20px;
    margin-right: 20px;
}
.result_left ul li a {
    color:rgba(0, 0, 0, 0.85);
    font-family: 'Itim', serif;
    line-height: 40px;
    font-size: 20px;
}
.result_right ul li a:hover {
    color: #ff8500;
}
.result_left ul li a:hover {
    color: #ff8500;
}

.footer {
    padding-right: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFFFFF;
    font-size: 16px;
    text-align: right;
    line-height: 50px;
    clear: both;
    margin-bottom: 0;
}
.footer .copyright {
    float: right;
    margin-right: 30px;
}
.footer .backhome {
    float: left;
    margin-left: 30px;
}
.footer .backhome a {
    color: #FFFFFF;
}
.footer .backhome a:hover {
    color: #ff8500;
}





