* {
    margin: 0;
    padding: 0;
}
html, body {
    height:100%;
}

a {
    text-decoration: none;
}
a:hover {
    color: #ff8500;
}

li {
    list-style: none;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.nav {
    height: 70px;
    background-color: #fc911fdc;
    display: flex;
    justify-content: space-between;
}

.nav .title {
    line-height: 70px;
    font-size: 27px;
    font-family: 'Inter', serif;
    font-weight: 700;
    display: inline-block;
    min-width: 280px;
    margin-left: 40px;
    margin-right: 40px;
}
.nav .title a {
    color:black;
}

.nav .searchbox {
    height: 35px;
    min-width: 200px;
    margin: 18px 0;
    background-color: #fff;
    flex: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .searchbox input {
    height: 35px;
    min-width: 145px;
    border: none;
    padding-left: 15px;
    color: #726d66dc;
    font-size: 17px;
    flex: max-content;
    display: inline-block;
}

.searchbox button {
    width: 40px;
    height: 35px;
    border: 0;
    background: url('/static/searchicon.png');
    background-size: cover;
    display: inline-block;
}

.nav .user {
    margin-left: 10%;
    line-height: 70px;
    font-size: 20px;
    font-family: 'Inter', serif;
    font-weight: 700;
    display: inline-block;
}
.nav .logout a {
    color: black;
}
.nav .logout a:hover {
    color: #FFFFFF;
}
.nav .logout {
    color: black;
    margin-left: 50px;
    margin-right: 30px;
    line-height: 70px;
    font-size: 20px;
    font-family: 'Inter', serif;
    font-weight: 700;
    display: inline-block;
}

.nav .login {
    color: black;
    margin-left: 50px;
    margin-right: 30px;
    line-height: 70px;
    font-size: 20px;
    font-family: 'Inter', serif;
    font-weight: 700;
    display: inline-block;
}
.nav .login a {
    color: black;
}
.nav .login a:hover {
    color: #FFFFFF;
}

.filter {
    min-height: 1075px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 40px 40px calc(100% - 1120px);
    flex: 20%
}

.filter .cuisine {
    min-height: 285px;
    border-bottom: 2px solid black;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.filter .taste {
    min-height: 185px;
    border-bottom: 2px solid black;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}
.filter .course {
    min-height: 605px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}
.filter input {
    width: 20px;
    height: 20px;
}
.filter button{
    margin-left:20px;
    width:50px;
    height:25px;
}
.rows{
    width: 100%;
    display: flex;
}

.result_left {
    margin-top: 70px;
    min-height: calc(100% - 120px);
    flex: 40%;
    font-size: 18px;
}
.result_right {
    margin-top: 70px;
    min-height: calc(100% - 120px);
    flex: 40%;
    font-size: 18px;
}
.result_left button{
    margin-top: 30px;
    width:80px;
    height:25px;
}
.result_right ul li a {
    color:black;
}
.result_left ul li a {
    color:black;
}
.result_right ul li a:hover {
    color: #ff8500;
}
.result_left ul li a:hover {
    color: #ff8500;
}

.footer {
    padding-right: 30px;
    height: 50px;
    background-color: #252423d0;
    color: #FFFFFF;
    font-size: 16px;
    text-align: right;
    line-height: 50px;
    clear: both;
    margin-bottom: 0;
}
.footer .copyright {
    float: right;
    margin-right: 30px;
}
.footer .backhome {
    float: left;
    margin-left: 30px;
}
.footer .backhome a {
    color: #FFFFFF;
}
.footer .backhome a:hover {
    color: #ff8500;
}







