<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = '/homepagestyle.css') }}">
</head>

<body>
    <form method="POST">
    <!-- nav -->
    <div class="nav">
        <ul>
            <li><a href="#" onclick="alert('student123@monash.edu.au')">Contact Us</a></li>
            {% if current_user %}
                <li><a href="{{url_for('logout')}}">Logout</a></li>
                <li>{{ current_user }}</li>
            {% else %}
                <li><a href="{{url_for('login')}}">Login/Register</a></li>
            {% endif %}
        </ul>
    </div>

    <!-- title and searching part -->
    <div class="box">
        <div class="title">Search Recipes</div>
        <div class="search">
            <input type="text" name="search" placeholder="Dishes name or ingredients here (optional)">
            <button type="submit">Search</button>
        </div>

        <!-- cuisine filter -->
        <div class="filters clearfix">
            <ul class="cuisine">
                <li class="f1">Cuisine</li>
                <li>
                    <select name="cuisine" class="custom-select" multiple>
                        <option value="American">American</option>
                        <option value="Chinese">Chinese</option>
                        <option value="French">French</option>
                        <option value="Italian">Italian</option>
                        <option value="Mexican">Mexican</option>
                    </select>
                </li>
            </ul>
        </div>


        <!-- taste filter -->
        <div class="filters clearfix">
            <ul class="taste">
                <li class="f2">Taste</li>
                <li>
                    <select name="taste" class="custom-select" multiple>
                        <option value="salty">Salty</option>
                        <option value="sweet">Sweet</option>
                        <option value="sour">Sour</option>
                        <option value="piquant">Piquant</option>
                        <option value="bitter">Bitter</option>
                    </select>
                </li>
            </ul>
        </div>

        <!-- course filter -->
        <div class="filters clearfix">
            <ul class="course">
                <li class="f3">Course</li>
                <li>
                    <select name="course" class="custom-select" multiple>
                        <option value="Main Dishes">Main Dishes</option>
                        <option value="Side Dishes">Side Dishes</option>
                        <option value="Appetizers">Appetizers</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Desserts">Desserts</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>

    <!-- daily recommendation -->
    <div class="dailyrecom">
        <div class="dailytitle">Daily Recommendation for all users</div>
        <div class="dailyrecipe">
            <ul>
                {% for i in dly_recom_recipe %}
                    <li>
                        <a href="{{i}}"><img src= "{{ url_for('static', filename = '/Indonesian_Food.png') }}" alt="{{ i }}"></a>
                        <p><a href="{{i}}">{{ i }}</a></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="copyright">Copyright @ 2022 FIT3164 Data Science Group4</div>
    </div>
    <script src="{{ url_for('static', filename = '/homepage.js') }}"></script>
    </form>>

</body>

</html>
