<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Recommendation</title>
    <style>
      * {
          margin: 0;
          padding: 0;
      }
      h2 {
        color: #ff8500;
        text-align: center;
        margin: 50px auto;
      }
      .Username {
        margin-bottom: 20px;
        text-align: center;
      }
      .userpsw {
        text-align: center;
        margin-bottom: 30px;
      }
      .signinbutton {
        text-align: center;
      }
      .signinbutton p {
        margin-top: 20px;
      }
    </style>

</head>
<body>
    <form action="/login" method="POST">
    <h2>Login/Register</h2>  
        <div class="Username">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
        </div>

        <div class="userpsw">
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
        </div>
        
        <div class="signinbutton">        
          <input type="submit" value="Login">
          <p><a href="{{url_for('register')}}">Register</a></p>
        </div>
        {{msg}}
      </form>
</body>
</html>