<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = '/searchpagestyle.css') }}">
</head>
<body>
    <form action="/search2" method="POST">
    <!-- nav -->
    <div class="nav">
        <div class="title">Dish Recommendation</div>
        <div class="searchbox">
            <input type="text" placeholder="Dishes name or ingredients here (optional)">
            <button type="submit"></button>
        </div>
        <div class="user">username</div>
        <div class="logout">logout</div>
    </div>

    <!-- filter -->
    <div class="filter">
        <div class="cuisine">
            <h3>Cuisine</h3><br>
            <input type="checkbox" name="Cuisine" value="American"/> American<br>
            <input type="checkbox" name="Cuisine" value="Chinese"/> Chinese<br>
            <input type="checkbox" name="Cuisine" value="French"/> French<br>
            <input type="checkbox" name="Cuisine" value="Indian"/> Indian<br>
            <input type="checkbox" name="Cuisine" value="Japanese"/> Japanese<br>
        </div>
        <div class="taste">
            <h3>Taste</h3><br>
            <input type="checkbox" name="Taste" value="Salty"/> Salty<br>
            <input type="checkbox" name="Taste" value="Sweet"/> Sweet<br>
            <input type="checkbox" name="Taste" value="Sour"/> Sour<br>
            <input type="checkbox" name="Taste" value="Spicy"/> Spicy<br>
            <input type="checkbox" name="Taste" value="Bitter"/> Bitter<br>
        </div>
        <div class="course">
            <h3>Course</h3><br>
            <input type="checkbox" name="Course" value="Main Dish"/> Main Dish<br>
            <input type="checkbox" name="Course" value="Side Dish "/> Side Dish<br>
            <input type="checkbox" name="Course" value="Salad"/> Salad<br>
            <input type="checkbox" name="Course" value="Soup"/> Soup<br>
        </div>
    </div>







        <!-- footer -->
    <div class="footer">
        <div class="copyright">Copyright @ 2022 FIT3164 Data Science Group4</div>
        <div class="backhome"><a href="/">Home</a></div>
    </div>
    </form>
</body>
</html>



