<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = '/searchpagestyle.css') }}">
</head>
<body>
    <form method="POST">
    <!-- nav -->
    <div class="nav">
        <div class="title"><a href="/" style="color:black">Dish Recommendation</a></div>
        <div class="searchbox">
            <input type="text" id ="search" name="search" placeholder="Dishes name or ingredients here (optional)">
            <button type="submit" name="submit_button" value="search"></button>
        </div>
        <div class="user">username</div>
        <div class="logout">logout</div>
    </div>

    <!-- filter -->
    <div class="filter">
        <div class="cuisine" id="filter1">
            <h3>Cuisine
                <button type="submit" name="submit_button" value="apply" style="margin-left:20px; width:50px; height:25px;">Apply</button>
                <button type="button" id="resetBtn" style="margin-left:20px; width:50px; height:25px;">Reset</button>
            </h3><br>
            <input type="checkbox" name="cuisine" value="American"/> American<br>
            <input type="checkbox" name="cuisine" value="Chinese"/> Chinese<br>
            <input type="checkbox" name="cuisine" value="French"/> French<br>
            <input type="checkbox" name="cuisine" value="Indian"/> Indian<br>
            <input type="checkbox" name="cuisine" value="Greek"/> Greek<br>
            <input type="checkbox" name="cuisine" value="Italian"/> Italian<br>
            <input type="checkbox" name="cuisine" value="Japanese"/> Japanese<br>
            <input type="checkbox" name="cuisine" value="Mexican"/> Mexican<br>
            <input type="checkbox" name="cuisine" value="Spanish"/> Spanish<br>
            <input type="checkbox" name="cuisine" value="Thai"/> Thai<br>

        </div>
        <div class="taste" id="filter2">
            <h3>Taste</h3><br>
            <input type="checkbox" name="taste" value="salty"/> Salty<br>
            <input type="checkbox" name="taste" value="sweet"/> Sweet<br>
            <input type="checkbox" name="taste" value="sour"/> Sour<br>
            <input type="checkbox" name="taste" value="piquant"/> Piquant<br>
            <input type="checkbox" name="taste" value="bitter"/> Bitter<br>
            <input type="checkbox" name="taste" value="meaty"/> Meaty<br>
        </div>
        <div class="course" id="filter3">
            <h3>Course</h3><br>
            <input type="checkbox" name="course" value="Main Dishes"/> Main Dishes<br>
            <input type="checkbox" name="course" value="Side Dishes"/> Side Dishes<br>
            <input type="checkbox" name="course" value="Afternoon Tea"/> Afternoon Tea<br>
            <input type="checkbox" name="course" value="Appetizers"/> Appetizers<br>
            <input type="checkbox" name="course" value="Beverages"/> Beverages<br>
            <input type="checkbox" name="course" value="Breads"/> Breads<br>
            <input type="checkbox" name="course" value="Breakfast and Brunch"/> Breakfast and Brunch<br>
            <input type="checkbox" name="course" value="Cocktails"/> Cocktails<br>
            <input type="checkbox" name="course" value="Condiments and Sauces"/> Condiments and Sauces<br>
            <input type="checkbox" name="course" value="Desserts"/> Desserts<br>
            <input type="checkbox" name="course" value="Lunch"/> Lunch<br>
            <input type="checkbox" name="course" value="Lunch and Snacks"/> Lunch and Snacks<br>
            <input type="checkbox" name="course" value="Salads"/> Salads<br>
            <input type="checkbox" name="course" value="Soup"/> Soup<br>
            <input type="checkbox" name="course" value="Snacks"/> Snacks<br>
        </div>
    </div>
        <div class="result_right">
            <ul>
                {% for data in result_right %}
                    <li><a href="{{ data }}" style="color:black;">{{ data }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="result_left">
            <ul>
                {% for data in result_left %}
                    <li><a href="{{ data }}" style="color:black;">{{ data }}</a></li>
                {% endfor %}
            </ul>
            {% if next_page == True %}
                <button type="submit" name="submit_button" value="next_page"> Next Page</button>
            {% endif %}
        </div>

        <!-- footer -->
    <div class="footer">
        <div class="copyright">Copyright @ 2022 FIT3164 Data Science Group4</div>
        <div class="backhome"><a href="/">Home</a></div>
    </div>
        <script src="{{ url_for('static', filename = '/searchpage.js') }}"></script>
    </form>
</body>
</html>



